<div class="jqac-inline-loader cf">
<div class="overlay-loader"><%= image_tag(JqajaxCore2::Config.loading[:loader_img]) %></div>
<div class="overlay-title">{TXT}</div>
<%= link_to JqajaxCore2::Config.overlay[:hide_label], "#", :class => "overlay-link" %>