// Defining style for the loading overlay
$jqac2-overlay-bg-color: rgba(255,255,255, 0.7);

// Position and style for flash overlay
$jqac2-flash-y-space: 20px ;
$jqac2-flash-x-space: 20px ;

$jqac2-flash-error: red;
$jqac2-flash-ok: green;
$jqac2-flash-neutral: orange;